<div class="d-flex">

  <div class="left-menu">
    <div (click)='activeTab = adminTab.Orders' [ngClass]="{'active-tab': activeTab === adminTab.Orders}" class="text">
      Orders
    </div>
    <div (click)='activeTab = adminTab.Products' [ngClass]="{'active-tab': activeTab === adminTab.Products}"
         class="text">
      Products
    </div>
    <div (click)='activeTab = adminTab.Users' [ngClass]="{'active-tab': activeTab === adminTab.Users}" class="text">
      Users
    </div>
  </div>

  <div class="d-flex w-100">
    <app-orders *ngIf="activeTab === adminTab.Orders"></app-orders>
    <app-products *ngIf="activeTab === adminTab.Products"></app-products>
    <app-users *ngIf="activeTab === adminTab.Users"></app-users>
  </div>

</div>
