:host {
  width: 100%;
}

.delete-user {
  width: 10px;
  height: 5px;
}

.text {
  font-size: 26px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  align-content: center;
}

.col {

}

.material-icons.md-20 {
  font-size: 25px;
  color: #6c9b9b;
}
