<div class="d-flex flex-column flex-grow-1">

  <div class="container-fluid d-flex flex-column">
    <div class="d-flex flex-row text row border-bottom p-0">
      <div class="p-2 col-2">Username</div>
      <div class="p-2 col-2">Password</div>
      <div class="p-2 col-2">Email</div>
      <div class="p-2 col-2">Phone</div>
      <div class="p-2 col-2">User type</div>
      <div class="delete-user p-2 col-2"></div>
    </div>

    <div *ngFor="let user of users" class="d-flex flex-column border-bottom">
      <div class="d-flex flex-row row">
        <form [formGroup]="getFormGroup(user.id)" class="p-2 col-10">
          <div class="d-flex flex-row row p-2">
            <mat-form-field class="p-2 col-3">
              <input (change)="updateUser(user, getFormGroup(user.id))" [formControl]="usernameForm(user.id)" matInput
                     type="text">
              <mat-error
                *ngIf="usernameForm(user.id).hasError('minlength') && !usernameForm(user.id).hasError('required')">
                Please enter a valid username
              </mat-error>
              <mat-error *ngIf="usernameForm(user.id).hasError('required')">
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="p-2 col-3">
              <input (change)="updateUser(user, getFormGroup(user.id))" [formControl]="passwordForm(user.id)" matInput
                     type="password">
              <mat-error
                *ngIf="passwordForm(user.id).hasError('pattern') && !passwordForm(user.id).hasError('required')">
                Please enter a valid password
              </mat-error>
              <mat-error *ngIf="passwordForm(user.id).hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="p-2 col-2">
              <input (change)="updateUser(user, getFormGroup(user.id))" [formControl]="emailForm(user.id)" matInput
                     type="text">
              <mat-error *ngIf="emailForm(user.id).hasError('email') && !emailForm(user.id).hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailForm(user.id).hasError('minlength') && !emailForm(user.id).hasError('required')">
                The email must have at least <strong>5</strong> characters
              </mat-error>
              <mat-error *ngIf="emailForm(user.id).hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="p-2 col-2">
              <input (change)="updateUser(user, getFormGroup(user.id))" [formControl]="phoneForm(user.id)" matInput
                     type="number">
              <mat-error *ngIf="phoneForm(user.id).hasError('pattern') && !phoneForm(user.id).hasError('required')">
                Please enter a valid phone number
              </mat-error>
              <mat-error *ngIf="phoneForm(user.id).hasError('required')">
                Phone is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-select [formControl]="typeForm(user.id)" class="p-2 col-2"
                        name="type" (selectionChange)="updateUser(user, getFormGroup(user.id))">
              <mat-option *ngFor="let type of types" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>

          </div>
        </form>

        <div class="p-2 col-2">
            <span (click)="deleteUser(user)">
                <span class="material-icons pl-3 md-20">cancel</span>
            </span>
        </div>
      </div>
    </div>

  </div>
