.create-container {
  max-width: 400px;
}
.btn-primary {
  color: #000000;
  background-color: rgba(55, 51, 51, 0.25);
  border: none;
  width: 300px;
}

.label {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  padding-right: 10px;
  width: 100px;
  align-content: baseline;
}

.button-block {
  color: rgb(50, 56, 20);
  font-size: 20px;
  background: rgb(241, 215, 203);
  border: rgb(241, 215, 203);
  border-radius: 20px;
  outline: none;
}

.textfield {
  width: 200px;
}
