<div class="d-flex justify-content-center">
  <div class="d-flex flex-column flex-grow-1 pt-4 create-container">

        <form [formGroup]="formGroup"
              class="d-flex flex-column">
          <mat-form-field class="input-container">
            <mat-label>Name</mat-label>
            <input type="text" matInput [formControlName]="'name'">
            <mat-error *ngIf="nameForm.hasError('minlength') && !nameForm.hasError('required')">
              Please enter a valid name
            </mat-error>
            <mat-error *ngIf="nameForm.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input-container">
            <mat-label>Price</mat-label>
            <input type="number" matInput [formControlName]="'price'" placeholder="Ex. 200">
            <mat-error *ngIf="priceForm.hasError('min') && !priceForm.hasError('required')">
              Please enter a valid price
            </mat-error>
            <mat-error *ngIf="priceForm.hasError('required')">
              Price is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class = "row input-container"
                          appearance="fill">
            <mat-label>Category type</mat-label>
            <mat-select name="category"
                        [formControlName]="'category'">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{category}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="createProductErrorMessage"
               class="alert-message" role="alert">
            {{createProductErrorMessage}}
          </div>
          <div class="d-flex justify-content-center mt-0">
            <button class="btn btn-primary btn-block" type="submit" (click)="addProduct()">ADD</button>
          </div>

        </form>
  </div>
</div>
