<div class="d-flex flex-wrap p-2">
  <div *ngFor="let order of orders"
       class="p-2 card-order">

    <mat-card>

      <mat-card-header>
        <mat-card-title>Order number: {{order.id}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="order-container">
          <div class="status d-flex justify-content-between align-items-center">
            <div class="p-2">
              Status:
            </div>
            <div *ngIf="order.status !== orderStatus.FINISHED">
              <div class="p-2 col custom-select-wrapper">
                <select (change)="updateOrderStatus(order)" [(ngModel)]="order.status">
                  <option *ngFor="let status of orderStatuses" [ngValue]="status">{{status}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="order.status === orderStatus.FINISHED">
              {{order.status}}
            </div>
          </div>
          <div class="p-2">
            Total: {{order.totalPrice}} lei
          </div>
        </div>

        <div *ngIf="order.expanded" class="border-top">
          <div *ngFor="let product of order.products" class="p-2">
            <div>
              Name: {{product.name}}
            </div>
            <div>
              Price: {{product.price}} lei
            </div>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button (click)="order.expanded = !order.expanded" color="primary" mat-raised-button>
          {{order.expanded ? 'Collapse' : 'Expand'}}
        </button>
        <button (click)="cancelOrder(order.id)" *ngIf="order.status !== orderStatus.FINISHED" color="secondary"
                mat-raised-button>
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>

