:host {
  width: 100%;
}

.delete-product {
  width: 10px;
  height: 5px;
}

.example_c {
  padding: 5px;
  margin: 5px;
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-family: 'Montserrat', sans-serif;
}

.example_c:hover {
  color: #ffffff;
  background: rgba(250, 121, 186, 0.56);
  border-color: rgba(250, 121, 185, 0.562);
  transition: all 0.4s ease 0s;
}

.text {
  font-size: 26px;
  font-weight: 600;
  padding: 1px;
}

.material-icons.md-20 {
  font-size: 25px;
  color: #6c9b9b;
}

.btn-primary {
  color: #000000;
  background-color: rgba(55, 51, 51, 0.25);
  border: none;
}

.button-block {
  color: rgb(50, 56, 20);
  font-size: 20px;
  background: rgb(241, 215, 203);
  border: rgb(241, 215, 203);
  border-radius: 20px;
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}
