<div class="d-flex flex-column flex-grow-1">

  <div class="container-fluid d-flex flex-column">
    <div class="d-flex flex-row text row border-bottom p-0">
      <div class="p-2 col-4">Name</div>
      <div class="p-2 col-4">Price</div>
      <div class="p-2 col-3">Category</div>
      <div class="delete-product p-2 col-1"></div>
    </div>

    <div *ngFor="let product of products" class="d-flex flex-column border-bottom">
      <div class="d-flex flex-row row">
        <form [formGroup]="getFormGroup(product.id)" class="p-2 col-8">
          <div class="d-flex flex-row row p-2 ">
            <mat-form-field class="p-2 col">
              <input (change)="updateProduct(product, getFormGroup(product.id))" [formControl]="nameForm(product.id)" matInput type="text">
              <mat-error
                *ngIf="nameForm(product.id).hasError('minlength') && !nameForm(product.id).hasError('required')">
                Name must have at least <strong>3 characters</strong>
              </mat-error>
              <mat-error *ngIf="nameForm(product.id).hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="p-2 col">
            <input (change)="updateProduct(product, getFormGroup(product.id))" [formControl]="priceForm(product.id)" matInput type="number">
            <mat-error *ngIf="priceForm(product.id).hasError('min') && !priceForm(product.id).hasError('required')">
              Price must be greater than <strong>0</strong>
            </mat-error>
            <mat-error *ngIf="priceForm(product.id).hasError('required')">
              Phone is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          </div>
        </form>

        <div class="p-2 col-3">
          <select [(ngModel)]="product.category">
            <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
          </select>
        </div>

        <div class="p-2 col-1">
          <span (click)="deleteProduct(product)" class="cursor-pointer">
              <span class="material-icons pl-3 md-20">cancel</span>
          </span>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-0">
      <button (click)="addNewProducts()" class="btn btn-primary btn-block">＋ ADD NEW PRODUCT</button>
    </div>
  </div>


</div>
