<div class="login-container">
  <div class="login-box">
    <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
    <form [formGroup]="formGroup"
          class="d-flex flex-column">
      <mat-form-field class="input-container">
        <mat-label>Username</mat-label>
        <input type="text" matInput [formControlName]="'username'">
        <mat-error *ngIf="usernameForm.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-container">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControlName]="'password'">
        <mat-error *ngIf="passwordForm.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <a mat-stroked-button (click)="register()" class="create-account">Create account</a>

      <div *ngIf="loginErrorMessage"
           class="alert-message" role="alert">
        {{loginErrorMessage}}
      </div>

      <div class="d-flex justify-content-center mt-0">
        <button class="btn btn-primary btn-block" type="submit" (click)="login()">Login</button>
      </div>
    </form>
  </div>
</div>
