.login-container {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 150px;
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  text-align: center;
  background: url('../../../../assets/pexels1.jpeg');
  background-size: 1550px 900px;
  background-repeat: no-repeat;
  background-position:center;
}

.login-box {
  max-width:320px;
  width:90%;
  background-color: rgba(255,255,255, 0.2);
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.create-account {
  padding-bottom: 10px;
  color: #536d6c;
}

.illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color: #536d6c;
}

.alert-message {
  color: rgb(161, 14, 9);
  font-size: 15px;
  padding-bottom: 20px;
}

.input-container {
  padding-bottom: 15px;
}

.user-input {
  background:none;
  border:none;
  border-bottom:1px solid white;
  border-radius:0;
  box-shadow:none;
  outline:none;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

.btn-primary {
  color: #536d6c;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
}





