<div class="d-flex flex-column background w-100 p-2">

  <div class="container-fluid">
    <div class="d-flex flex-row text row border-bottom p-0">
      <div class="p-2 col-2"></div>
      <div class="p-2 col-2">ID</div>
      <div class="p-2 col-2">Status</div>
      <div class="p-2 col-2">Total price</div>
      <div class="p-2 col-2">Courier ID</div>
      <div class="p-2 col-1">Client ID</div>
      <div class="p-2 col-1">Actions</div>
    </div>

    <div *ngFor="let order of orders" class="d-flex flex-column border-bottom">
      <div class="d-flex flex-row row">
        <div class="p-2 col-2">
          <span *ngIf="order.expanded" (click)="order.expanded = false" class="color-arrow">
            <span class="material-icons">
              arrow_circle_up
            </span>
          </span>
          <span *ngIf="!order.expanded" (click)="order.expanded = true" class="color-arrow">
            <span class="material-icons">
              arrow_circle_down
            </span>
          </span>
        </div>
        <div class="p-2 col-2">{{order.id}}</div>
        <div class="p-2 col-2">{{order.status}}</div>
        <div class="p-2 col-2">{{order.totalPrice}}</div>
        <div class="p-2 col-2">{{order.courier?.username}}</div>
        <div class="p-2 col-1">{{order.client.username}}</div>
        <div class="p-2 col-1"><button (click)="saveCourierOrder(order.id)">Get order</button></div>
      </div>
      <div *ngIf="order.expanded" class="border-top text-color-products">
        <div class="d-flex flex-row row text-products">
          <div class="p-2 col">Name</div>
          <div class="p-2 col">Price</div>
        </div>
        <div *ngFor="let product of order.products" class="d-flex flex-row row">
          <div class="p-2 col">{{product.name}}</div>
          <div class="p-2 col">{{product.price}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
