.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  background: #6c9b9b;
  font-size: 20px;
}

.material-icons {
  font-size: 30px;
}

.account-button {
  height: 30px;
  color: white;
}
