<div class="header-container w-100 d-flex align-items-center justify-content-end text-white pl-3 pr-3"
      [ngClass]="{'justify-content-between': isUserAdmin}">
  <div class="font-weight-bold"
       *ngIf="isUserAdmin">
    Active Users: {{activeUsers}}
  </div>
  <div (click)="logout()" class="padding-right d-flex align-items-center account-button">
    <span class="material-icons">exit_to_app</span>
  </div>
</div>
