<div class="d-flex flex-column w-100">
  <div class="d-flex flex-row w-100">
    <div (click)="getProductsByCategory(category)" *ngFor="let category of categories"
         [ngClass]="{'font-weight-bold text-uppercase': activeCategory === category}"
         class="p-2">
      {{category}}
    </div>
    <div (click)="getAllProducts()"
         [ngClass]="{'font-weight-bold text-uppercase': activeCategory === allProductsString}"
         class="p-2">
      {{allProductsString}}
    </div>
  </div>

  <div class="d-flex flex-wrap">
    <div *ngFor="let product of products"
        class="p-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{product.price}} lei
        </mat-card-content>
        <mat-card-actions>
          <button (click)="addToCart(product)" mat-raised-button color="primary">Add to Cart</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
