<div class="d-flex">

  <div class="left-menu">
    <div (click)='activeTab = clientTab.Products' [ngClass]="{'active-tab': activeTab === clientTab.Products}"
         class="text">
      Products
    </div>
    <div (click)='activeTab = clientTab.Cart' [ngClass]="{'active-tab': activeTab === clientTab.Cart}" class="text">
      Cart {{getCartTotalProductsCount ? '(' + getCartTotalProductsCount + ')' : ''}}
    </div>
    <div (click)='activeTab = clientTab.Account' [ngClass]="{'active-tab': activeTab === clientTab.Account}"
         class="text">
      Account
    </div>
    <div (click)='activeTab = clientTab.Orders' [ngClass]="{'active-tab': activeTab === clientTab.Orders}" class="text">
      Orders
    </div>
  </div>

  <div class="d-flex w-100">
    <app-client-products *ngIf="activeTab === clientTab.Products"></app-client-products>
    <app-cart *ngIf="activeTab === clientTab.Cart"></app-cart>
    <app-account *ngIf="activeTab === clientTab.Account"></app-account>
    <app-client-orders *ngIf="activeTab === clientTab.Orders"></app-client-orders>
  </div>

</div>
