<div class="cart container">
  <div *ngIf="products.length > 0">
    <div *ngFor="let product of products"
         class="d-flex flex-row justify-content-between productss border-bottom mt-3 mb-2">
      <div class="d-flex justify-content-between flex-grow-1">
        <div class="ml-2">
          <div class="fields-box font-weight-bold mt-3">
            {{product.name}}
          </div>
          <div class="product-box">
            Quantity: {{product.quantity}}
          </div>
        </div>
        <div class="d-flex flex-column justify-content-between align-items-end">
          <div (click)="removeItem(product.id)" class="remove-button">
            <span class="material-icons-outlined">delete</span>
          </div>
          <div class="mt-auto product-box mb-1">
            Price: {{product.price}} lei
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="price-container font-weight-bold">
        Subtotal: {{totalPrice}} lei
      </div>
      <div class="finish-order mb-1">
        <button (click)="finishOrder()"
                *ngIf="products.length" color="primary" mat-raised-button>Finish order
        </button>

      </div>
    </div>
  </div>
  <div *ngIf="products.length === 0">
    Empty cart.
  </div>
</div>
