/* You can add global styles to this file, and also import other style files */

@import '~material-icons/iconfont/material-icons.css';
body {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.left-menu {
  min-width: 240px;
  height: 100vh;
  background: gray;
}

.left-menu .text {
  padding: 5px;
  background: #c4c4c4;
  border-bottom: 1px solid black;
}
.left-menu .active-tab {
  background: #8a8a8a;
}

.status {
  width: 50px;
}

.card-order {
  width: 250px;
}
