<div class="info-container p-2" *ngIf="user">
  <form [formGroup]="formGroup"
        class="d-flex flex-column">
    <mat-form-field class="input-container">
      <mat-label>Username</mat-label>
      <input disabled type="text" matInput [formControlName]="'username'">
    </mat-form-field>

    <mat-form-field class="input-container">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControlName]="'password'">
      <mat-error *ngIf="passwordForm.hasError('pattern') && !passwordForm.hasError('required')">
        Please enter a valid password
      </mat-error>
      <mat-error *ngIf="passwordForm.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-container">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControlName]="'email'" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailForm.hasError('email') && !emailForm.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailForm.hasError('minlength') && !emailForm.hasError('required')">
        The email must have at least <strong>5</strong> characters
      </mat-error>
      <mat-error *ngIf="emailForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-container">
      <mat-label>Phone</mat-label>
      <input type="phone" matInput [formControlName]="'phone'" placeholder="Ex. 0712 345 678">
      <mat-error *ngIf="phoneForm.hasError('pattern') && !phoneForm.hasError('required')">
        Please enter a valid phone number
      </mat-error>
      <mat-error *ngIf="phoneForm.hasError('required')">
        Phone is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div *ngIf="updateErrorMessage"
         class="alert-message" role="alert">
      {{updateErrorMessage}}
    </div>
    <div class="d-flex justify-content-center mt-0">
      <button class="btn btn-primary btn-block" type="submit" (click)="updateAccount()">Update</button>
    </div>

  </form>
</div>
