:host {
  width: 100%;
}

.text {
  font-size: 26px;
  font-weight: 600;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

.background {
  width: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.color-arrow {
  color: #6c9b9b;
}

.text-products {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.text-color-products {
  color: #6c9b9b;
  font-family: 'Montserrat', sans-serif;
}
