.register-container {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  background-color: rgb(195, 159, 144);
  border-color: rgb(195, 159, 144);
  width: 100%;
  padding-bottom: 120px;
  background: url('../../../../assets/pexels1.jpeg');
  background-size: 1700px 1100px;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  background-position: center;
}

.register-box {
  min-width: 500px;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 10px;
  box-shadow: 0 3px 20px 0 rgba(187, 61, 61, 0.1);
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.icon {
  text-align:center;
  padding:5px 0 10px;
  font-size:80px;
  color: #536d6c;
}

.alert-message {
  color: rgb(161, 14, 9);
  font-size: 15px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.input-container {
  padding-bottom: 15px;
}

.form-control {
  background:none;
  border:none;
  border-bottom:1px solid white;
  border-radius:0;
  box-shadow:none;
  outline:none;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

.button-submit:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.row {
  display: flex;
  padding-bottom: 15px;
  padding-right: 20px;
  size: 20px;
}

.color {
  color: white;
}

.column {
  flex: 50%;
  text-align: -webkit-center;
  padding-bottom: 15px;
}

.button-submit {
  color: rgb(50, 56, 20);
  font-size: 20px;
  background: rgb(241, 215, 203);
  border: rgb(241, 215, 203);
  border-radius: 20px;
  outline: none;
}

.btn-primary {
  color: #536d6c;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
}
