<div class="d-flex">
  <div class="left-menu">
    <div class="text" (click)='activeTab = courierTab.AvailableOrders' [ngClass]="{'active-tab': activeTab === courierTab.AvailableOrders}">
      Available Orders
    </div>
    <div class="text" (click)='activeTab = courierTab.Account' [ngClass]="{'active-tab': activeTab === courierTab.Account}">
      Account
    </div>
    <div class="text" (click)='activeTab = courierTab.Orders' [ngClass]="{'active-tab': activeTab === courierTab.Orders}">
      My Orders
    </div>
  </div>

  <div class="d-flex w-100">
    <app-available-orders *ngIf="activeTab === courierTab.AvailableOrders"></app-available-orders>
    <app-account-courier *ngIf="activeTab === courierTab.Account"></app-account-courier>
    <app-orders-courier *ngIf="activeTab === courierTab.Orders"></app-orders-courier>
  </div>
</div>
