<button (click)="isEditing && update(r)"
        *ngFor="let r of ratingArr"
        [id]="'star_' + r"
        class="star"
        color="primary"
        mat-icon-button>
  <mat-icon>
    {{showIcon(r)}}
  </mat-icon>
</button>
